@import url(http://fonts.googleapis.com/css?family=Lato:100);

body {
	background: url('meblack2.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: right; 
}

#title {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 150px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.contacticon {
	margin: 3px;
	opacity: 0.7;
}

#icons {
	position: absolute;
	bottom: 0;
}

.contacticon:hover {
	opacity: 1;
}

.links {
	display: inline-block;
}

#arrow {
	color: #fff;
	font-size: 70px;
	opacity: .7;
	position: absolute;
	bottom: 0;
	right: 10;
}

#arrow:hover {
	opacity: 1;
}

#aboutMeContainer {
	width: 40%;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 15px;
	position: absolute;
	opacity: .8;
	top: 250px;
	left: -1000px;
	right: 0;
	background-color: rgba(5, 5, 5, 0.6);
	padding: 8px;
	transition: left .7s;
}

.aboutMe {
	font-size: 20px;
	text-transform: uppercase;
}



















